*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


/* HEADER */
header{
    background-image: url('images/hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    /* max-width: 1000px; */
    position: relative;
    /* filter: opacity(0.8) drop-shadow(0 0 #000); */
}
.container{
  padding: 40px;
    max-width: 2400px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    gap: 50px;
}
.nav-items .nav-item{
    list-style: none;
}
.nav-items .nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.nav-link:hover{
    color: orange;
    cursor: pointer;
}
.nav-item .active{
    color: orange;
}
.connexion{
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
}
.connexion:hover{
    color: #fff;
}
.inscription{
    border: 1px solid orange;
    padding: 5px;
    border-radius: 5px;
}
.container .navbar-brand{
    font-style: italic;
    font-weight: bold;
    color: #fff;
    font-size: 20px;

}
.navbar-brand span{
    color: orange;
}
.text-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-middle h1{
    font-size: 60px;
    text-align: center;
    color: #fff;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
#input{
    width: 400px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}
#input::placeholder{
    color: gray;
}
#submit{
    background-color: orange;
    color: #fff;
    width: 200px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

/* A propos */
#a-propos{
    background-color: lavender;
}
.a-propos{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
}
.a-propos img{
    width: 100%;
}
#a-propos h1{
    font-size: 20px;
    margin-bottom: 30px;
}
.text .trait{
    background-color: orange;
    width: 60px;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.text{
    padding: 30px;
}
.picture{
    padding: 30px;
}
.text p{
    line-height: 30px;
}
.btn-main{
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 15px;
    padding: 8px;
    font-weight: bold;
}

/* COURS */
#cours{
    background-color: lavender;
}
#cours h3{
    margin-bottom: 20px;
}
.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 40px;
    
}
.img{
    position: relative;
}
.pictures p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.pictures img{
    width: 100%;
}
/* CATEGORIES */
#categories{
    background-color: lavender;
}
.categories{
    display: flex;
    gap: 40px;
}
.categories img{
   width: 100%;
}
.btn-card{
    border: none;
    background-color: orange;
    color: #fff;
    border-radius: 10px;
    padding: 10px;

}
/* BLOG */
#blog{
    background-color: lavender;
}
.blog{
    display: flex;
    gap: 50px;
}
.blog img{
    width: 100%;
}
.card{
   background-color: #fff;
    max-width: 400px;
    height:  350px;
    padding: 20px;
    box-shadow: 10px 10px 8px gainsboro;
    border-radius: 15px;
    margin-top: 40px;
}
.card p{
    color: grey;
}
.card .trait{
    background-color: orange;
    width: 60px;
    height: 5px;
    border-radius: 5px;
}
.card h3{
    margin-bottom: 10px;
}
.blog  h3{
    margin-bottom: 20px;
}
.card-btn{
    background-color: transparent;
    color: orange;
    border: 1px solid orange;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    margin-top: 15px;
}
/* TESTIMONTY */
.testimony{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}
.testimony img{
    background-color: #fff;
    width: 78px;
    height: 78px;
    border-radius: 40px;
    padding: 15px;
}
.testimony-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.testimony-img h1{
    color: orange;
}
/* ALUMNIS */
#alumnis{
    background-color: lavender;
}
.card1{
    max-width: 300px;
    background-color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gainsboro;
}
.card1 h3{
    text-align: center;
    color: orange;
    padding: 15px;
}
.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alumnis{
    display: flex;
    justify-content: center;
    gap: 30px;
}
/* FOOTER */
.footer{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 100px;
}
.footer h1{
    font-size: 24px;
    color: orange;
}
.footer span{
  color: orange;
}
#mail{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: gainsboro;
    width: 200px;
    margin-bottom: 10px;
}
#submit2{
    width: 200px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: sienna;
}
.spe{
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
.test{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
/* responsive design */
@media screen and  (max-width:1064px)  {
    .a-propos{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        /* align-items: center; */
        /* gap: 10px; */
    }
    .text{
        padding: 0px;
        text-align: center;
    }
    .text .trait{
        background-color: orange;
        width: 60px;
        height: 5px;
        border-radius: 5px;
        margin-bottom: 0px;

    }
    .pictures{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        gap: 40px;
        
    }
    .blog{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
       
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .nav-items{
        display: flex;
        gap: 20px;
    }
    /* .categories{
        display: grid;
        grid-template-columns: ;
        gap: 40px;
    } */
    .test{
        text-align: center;
    }
}
@media screen and  (max-width:772px){
    .container{
        padding: 15px;
    }
    .pictures{
        display: grid;
        grid-template-columns: 1fr;
        
        gap: 40px;
        
    }
    .blog{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
       
    }
    .categories{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .alumnis{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .spe{
        justify-content: center;
        align-items: center;
    }
   .footer{
    display: flex;
    flex-direction: column;
   }
   .test{
    flex-direction: column;
   }
    .header{
        display: flex;
        justify-content: center;
    }
    .nav-items{
        display: flex;
        gap: 10px;
    }
    .text-middle h1{
        font-size: 30px;
        text-align: center;
        color: #fff;
    }
    .buttons{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 50px;
    }
    #input{
        width: 200px;
        padding: 15px;
        border: none;
        border-radius: 5px;
    }
    .nav-items .nav-link{
        text-decoration: none;
        color: #fff;
        font-size: 12px;
    }
    .container .navbar-brand{
        font-style: italic;
        font-weight: bold;
        color: #fff;
        font-size: 14px;
    
    }
    .testimony{
      /* flex-direction: column;
      align-items: center;
      justify-content: center; */
      gap: 5px;
      font-size: 12px;
    }
    .testimony-img img{
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
    .test{
        text-align: center;
    }
   
}
@media screen and  (max-width:436px)  {
    .nav-items{
        display: none;
    }
    .container .navbar-brand{
        font-style: italic;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
    
    }
    .header{
        display: flex;
    }
    .buttons{
        flex-direction: column;
    }
    .test{
        text-align: center;
    }
    .footer{
        text-align: center;
    }
    .categories{
        text-align: center;
    }
}
